body {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.conteiner {
    width: 1800px;
    margin: 0 auto;
    color: #ffffff;
    font-family: Dosis;
    line-height: 1.2;
    font-weight: 700;
}

.main-header {
    height: 1032px;
    background-color: #cacaca;
    background-image: url(img/bg_250.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}

nav {
    text-align: end;
    margin: 30px 110px 0 0;
    position: relative;
}

.menu-name {
    font-size: 18px;
    text-transform: uppercase;
    color: #2f1946;
}

.hamburger-menu {}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: -9px;
    right: -40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #e22028;
    transition-duration: .25s;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.social {
    position: fixed;
    top: 410px;
    height: 195px;
    width: 50px;
    height: 195px;
    background-color: #45124c;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    border-radius: 0px 3px 3px 0px;
        z-index: 1;
}

.social-links {
    margin: 0 15px;
    /*    padding: 0 0 0 0;*/
    font-size: 24px;
    border-radius: 4px;
    color: #fff;
    line-height: 2;
}

.title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    margin-top: 35px;
    margin-top: 65px;
}

.logo-img {
    width: 442px;
    height: 277px;
}

h1 {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #2f1946;
    margin-top: 68px;
}

.fon_button {
    width: 190px;
    height: 72px;
    border: 1px solid #81398b;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    margin: 0 auto;
}

.get:hover {
    background-color: #ff6c00;
}

.get {
    width: 163px;
    height: 50px;
    background-color: #81398b;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    word-break: break-all;
    margin-top: 11px;
    font-family: Dosis;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
}

.arrow {
    font-size: 22px;
}

.blocks {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.block {
    width: 13%;
    height: 238px;
    margin: 0px 20px;
}

.block1 {
    background-color: #fe4a5d;
    box-shadow: 0 110px 0 #e44254;
}

.block1_svg {
    font-size: 10px;
    fill: #fff;
    width: 98px;
    height: 96px;
    margin-top: 83px;
}

.block2 {
    background-color: #e22028;
    box-shadow: 0 110px 0 #cb1d24;
}

.block3 {
    background-color: #ff6c00;
    box-shadow: 0 110px 0 #e56100;
}

.text_svg {
    font-size: 32px;
    line-height: 1.2;
    padding-top: 55px;
}

.сentral {
    font-size: 30px;
    line-height: 36px;
    color: #2f1946;
    text-align: center;
    width: 820px;
    height: 240px;
    margin: 237px auto 17px auto;
}

.welcome {
    display: flex;
    justify-content: center;
}

.quote {
    margin-top: 40px
}

.quote-txt {
    margin: 0;
}

.txt-centr {
    width: 784px;
}

h2 {
    font-family: Dosis;
    font-size: 52px;
    line-height: 1.2;
    color: #2f1946;
    text-align: center;
    margin: 0;
}

.signature {
    font-size: 30px;
    line-height: 36px;
    color: #fe4a5d;
    text-align: right;
    margin: 0;
}

.fotos {
    display: flex;
    margin-bottom: 160px;
}

.foto_people {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.first-photo {
    margin: 87px 0 27px 0;
}

.second-photo {
    margin: 15px 0 0 0;
}

.third-photo {}

.fourth-photo {
    margin-top: -100px;
}

.first-foto {
    margin: 28px 0 27px 0;
}

.second-foto {}

.third-foto {}

.fourth-foto {
    margin-top: -100px;
}


.feedback {
    display: flex;
    justify-content: center;
    padding: 0 40px;
}

.back-color {
    background-image: url(img/bg_156.png);
    width: 466px;
    min-height: 552px;
}

.feedback-form {
    margin: 0 auto;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 96%;
    background-color: #fff;
    min-height: 534px;
}

h3 {
    font-size: 38px;
    color: #2f1946;
    text-align: center;
}

.sing {
    min-height: 41px;
    width: 301px;
    background-color: #2f53a3;
    border-radius: 4px;
    text-align: center;
    place-self: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: Dosis;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #fff;
}

.sing .fab {
    font-size: 16px;
    letter-spacing: 1em;
}

.or {
    overflow: hidden;
    text-align: center;
    margin: 15px 0 15px 0;
}

.or-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #9b9b9b;
}

.or:before,
.or:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 132px;
    height: 2px;
    background-color: #9b9b9b;
    position: relative;
}

.or:before {
    margin-left: -100%;
    left: -14px;
}

.or:after {
    margin-right: -100%;
    right: -14px;
}

input {
    min-height: 41px;
    margin-top: 12px;
    width: 300px;
    place-self: center;
}

.input-form::placeholder {
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #642f6b;
    font-family: Dosis;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #642f6b;
}

.sub {
    min-height: 41px;
    width: 300px;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: Dosis;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #fff;

    background-color: #81398b;
    border-radius: 4px;
}

aside {
    width: 100%;
    border: 1px solid blue;
    box-sizing: border-box;
    height: 730px;
    background-color: palevioletred;
    background-image: url(img/bg_1_80.png);
    display: flex;
    justify-content: center;
    position: relative
}
.position-circle-flower {
    position: absolute;
   top: 182px;
    left: -56px;
    transform: rotate(350deg);
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
}

.circle-flower {
    width: 153px;
    height: 153px;
    background-color: #f9b416;
    align-items: center;
    position: relative;
}
.circle-flower:hover{
    width: 200px;
    height: 200px;
}

.circle-flower:after {
    content: "";
    display: block;
    position: absolute;
    top: -25px;
    left: -25px;
    color: white;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 198px;
    height: 204px;
    opacity: 0.3;
}

.flower {
    width: 70px;
    height: 82px;
    fill: #fff;
}
.position-circle-send {
    position: absolute;
        top: 93px;
    left: 359px;
    transform: rotate(356deg);
}
.circle-send {
    width: 202px;
    height: 201px;
    background-color: #ff6c00;
    position: relative;
}

.circle-send:after {
    content: "";
    display: block;
    position: absolute;
    top: -35px;
    left: -35px;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 270px;
    height: 269px;
    opacity: 0.3;
    border: 1px solid #fff;
}

.text-circle-send {
    font-size: 32.1px;
    text-transform: uppercase;
}
.position-circle-like {
    position: absolute;
   top: 399px;
    left: 138px;
    transform: rotate(350deg);
}

.circle-like {
    width: 100px;
    height: 100px;
    background-color: #fe4a5d;
    align-items: center;
    position: relative;
}

.circle-like:after {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    left: -20px;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 134px;
    height: 134px;
    opacity: 0.3;
    border: 1px solid #fff;
}

.like {
    width: 43px;
    height: 42px;
    fill: #fff;
}
.position-circle-genders {
    position: absolute;
   top: 500px;
    left: 452px;
}
.circle-genders {
    width: 159px;
    height: 159px;
    background-color: #f9b416;
    position: relative;
}

.circle-genders:after {
    content: "";
    display: block;
    position: absolute;
    top: -27px;
    left: -27px;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 212px;
    height: 212px;
    opacity: 0.3;
    border: 1px solid #fff;
}

.text-circle-16 {
    font-size: 43.8px;
    line-height: 33px;
    text-transform: uppercase;
}

.text-circle-genders {
    font-size: 25.2px;
    line-height: 33px;
    text-transform: uppercase;
}

.circle-join {
    height: 371px;
    width: 371px;
    background-color: #fff;
    margin: 180px 0 0 0;
    position: relative;
}

.circle-join:after {
    content: "";
    display: block;
    width: 462px;
    height: 462px;
    position: absolute;
    top: -44px;
    left: -44px;
    color: white;
    text-align: center;
    border: 1px solid #fff;
    opacity: 0.4;
    border-radius: 50%;
}

.text-join {
    font-size: 60px;
    text-transform: uppercase;
    color: #67326e;
}

.text-free {
    font-size: 46px;
    color: #67326e;
}

.link-btn {
    display: block;
    margin: 0 auto;
    border: none;
    border-bottom: 3px solid #736357;
    min-height: 53px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    word-break: break-all;
    width: 139px;
    height: 39px;
    background-color: #e22028;
    background-image: linear-gradient(90.0deg, #e22028 0%, #f9b416 100%);
    border-radius: 3px;
}

.btn-link-txt {
    margin: auto;
}

.link-btn:hover {
    color: #d1d1d1;
    background-color: #736357;
}

.link-btn:active {
    color: #252525;
    background-color: #d1d1d1;
}
.position-circle-languages {
    position: absolute;
   top: 61px;
    left: 1223px;
    transform: rotate(3deg);
}

.circle-languages {
    width: 155px;
    height: 155px;
    background-color: #fe4a5d;
}

.text-circle-27 {
    font-size: 40px;
    line-height: 28px;
}

.text-circle-languages {
    font-size: 20px;
    line-height: 3.2;
    text-transform: uppercase;
    position: relative;
}

.text-circle-languages:after {
    content: "";
    display: block;
    position: absolute;
    top: -83px;
    left: -28px;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 203px;
    height: 203px;
    opacity: 0.3;
    border: 1px solid #fff;
}
.position-circle-chat {
    position: absolute;
   top: 364px;
    left: 1516px;
    transform: rotate(3deg);
}
.circle-chat {
    width: 188px;
    height: 188px;
    background-color: #ff6c00;
    position: relative;
}

.circle-chat:after {
    content: "";
    display: block;
    position: absolute;
    top: -30px;
    left: -30px;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 247px;
    height: 247px;
    opacity: 0.3;
    border: 1px solid #fff;
}

.text-circle-chat {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}
.position-circle-present {
    position: absolute;
   top: 462px;
    left: 1214px;
    transform: rotate(350deg);
}

.circle-present {
    width: 101px;
    height: 101px;
    background-color: #fe4a5d;
    align-items: center;
    position: relative;
}

.present {
    width: 46px;
    height: 51px;
    fill: #fff;
}

.circle-present:after {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    left: -20px;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 133px;
    height: 133px;
    opacity: 0.3;
    border: 1px solid #fff;
}
.position-circle-bubbles {
    position: absolute;
   top: 92px;
    left: 1713px;
    transform: rotate(350deg);
}
.circle-bubbles {
    align-items: center;
    width: 133px;
    height: 133px;
    background-color: #f9b416;
    position: relative;
}

.circle-bubbles:after {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    left: -20px;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 174px;
    height: 174px;
    opacity: 0.3;
    border: 1px solid #fff;
}

.bubbles {
    width: 61px;
    height: 65px;
    fill: #ffffff;
}

footer {
    border: 1px solid green;
    background-color: skyblue;
    min-height: 200px;
}

fieldset {
    text-align: center;
}

.sign {
    font-size: 16px;
    color: #00cfae;
    margin: 0;
    padding: 0;
}

.email {
    width: 376px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    outline: none;
    text-overflow: ellipsis;
}

.email::placeholder {
    display: block;
    padding: 5px;
    word-break: breal-all;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #cacaca;
}

.subscribe {
    width: 135px;
    height: 40px;
    background-color: #00cfae;
    border-radius: 0px 4px 4px 0px;
    font-family: Lato;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #fefefe;
}

.meta {
    background-color: #fafafa;
    border-radius: 0.5px;
    border: 1px solid yellow;

}

.meta-menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 auto;
    align-items: center;
    min-height: 70px;
    width: 46%;
    text-transform: uppercase;
    color: #2f1946;
    text-decoration: none;

}

.s {
    text-transform: none;
}

.flags {
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.copyright {
    text-align: center;
}

.copyright-txt {
    font-family: Lato;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: #2f1946;
}
